#rcf_settings_form{
    margin-top: 30px;
}

#rcf-fields-settings-content{

}

.rcf_fields_settings{
    border-collapse: collapse;
    width: 50%;
}

.rcf_fields_settings{
    margin-top: 30px;
    padding: 10px;
}

.rcf_fields_settings th{
    border: 1px solid #ccc;
    padding:5px;
}

.rcf_fields_settings td{
    border: 1px solid #ccc;
    padding:5px;
}

.rcf_fields_settings, td, th{
    text-align: left;
}

#rcf_send_to_content{
    
}

.rcf_send_to_table{
    margin-top: 30px;
    width: 60%;
}

#rcf-user-sendto{
    border: 1px solid #000;
}

#rcf_table_user_info{
    border-right: 1px solid #ccc;
}

#rcf-custom-user, #rcf_select_user{
    height: 30px;
    width: 90%;
}

.rcf_textbox{
    height: 30px;
    width: 100%;
}

#rcf-required-label-content{
    margin-top: 30px;
    width: 50%;
    margin-bottom: 30px;
}

#rcf-required-label-content span{
    padding-right: 15px;
}

#rcf-required-label{
    width: 78%;
    height: 30px;
}

#rcf-smtp-option{
    border-collapse: collapse;  
    width: 50%;
}

#rcf-smtp-option tr td{
    border: 1px solid #ccc;
    height: 30px;
    padding: 5px;
}

#rcf-host-server, #rcf-smtp-port,
#rcf-smtp-from, #rcf-smtp-username,
#rcf-smtp-password, #rcf-smtp-from-name{
    width: 100%;
    height: 30px;
}

.rcf_save_button{
    padding: 5px;
}

#rcf-smtp-settng-content{
    margin-top: 30px;
}

#smtp-instructions{

}

.rcf-warning{
    color: #f00;
}

.rcf-warning-content{
    font-weight: bold;
}